<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Stacy's Style Salon</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e0a0e3a5f4.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/styles.css">
  </head>
  <body>
    <div class="container">
        @Html.Partial("NavBar")
        <div id="navbar-spacer"></div>
        @RenderBody()
        <div class="splash">
            <div class="splash-background"></div>
        <div>
    </div>
  </body>
</html>