@{
    Layout = "_Layout";
}

<div class="splash-title">
    <div class="Title-View">
        <h1 class="Title-Font Title-Name">Stacy's Style Salon</h1>
    </div>
    <div class="Title-Tag-View">
        <p class="Title-Tag">STYLING YOUR PERFECT YOU!</p>
    </div>
</div>

<div class="splash">
    <div class="splash-background-home"></div>
<div>